/*/*Main styles */ 


*{
  box-sizing: border-box;
}

body {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	background: #edf0f4;
	padding: 20px;
}

footer{
	background: #edf0f4;
	padding: 20px;
}

main {
	padding: 20px;
}

.contact {
	margin: 20px 20px 40px 20px;
}

#skills ul{
	margin: 10px;
	font-size: 1.1em;
	line-height: 1.5;
}


/*Link styles*/

a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

a:link{
	color: #000;
}

a:visited {
	color: #114eaf;
}

a:hover {
	color: #7e8ea8;
}


nav ul,
#skills ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	padding: 20px;
	background: #fff;
	margin: 5px auto;
	max-width: 90%;
}

#email {
	text-transform: lowercase;
}


#name {
	display: inline;
	float: left;
	padding-top: 10px;
}

.bottom-nav-links  {
	display: inline;
	float: right;
	padding-top: 10px;
}

/*Image Styles*/

.portfolio-pic {
	max-width: 100%;
	margin: auto;
}

#profile-pic {
	  width: 80%;
  	  margin: 0 auto;
      margin-top: 35px;
  }

/*Media Queries*/

@media (min-width: 768px) {
	.portfolio-pic {
		max-width: 90%;
		margin: auto;
}
	.portfolio {
		max-width: 45%;
		float: right;
	}
}


@media (min-width: 1024px) {

}



.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

 