/*/*Main styles */ 

* {
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	background: #edf0f4;
	padding: 20px;
}

footer{
	background: #edf0f4;
	padding: 20px;
}



/*Link styles*/

.portfolio-pic {
	max-width: 90%;
	margin: auto;
}

#profile-pic {
	  width: 80%;
  	  margin: 0 auto;
      margin-top: 35px;
  }

a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
}

a:hover {
	color: #7e8ea8;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 20px;
	background: #fff;
	margin: 5px auto;
	max-width: 90%;
}

#email {
	text-transform: lowercase;
}

/*Media Queries

@media (min-width: 768px) {

}


@media (min-width: 1024px) {

}*/


 