/*Main page layout*/

body {
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	text-align: center;
	background: #ebf3f3;
	padding: 20px;
}

main {
		max-width: 90%;
}

.main-nav li{
	list-style-type: none;
	margin: 5px;
	padding: 10px 30px;
	font-weight: 700;
	background: #fff;
}

a{
	text-decoration: none;
	text-transform: uppercase;
	color: #525c6d;
}

a:hover {
	color: #708ebf;
}

.main-content {
	text-align: center;
}


.portfolio-item {
	padding: 20px;
	margin: auto;
}

.portfolio-img {
	max-width: 367px;
	margin: auto;
}

.footer {
	text-align: center;
	background: #ebf3f3;
	padding: 20px
}

/*Media queries*/